html, body
{
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}
.topo{
    background-color: #808080;
    height: 100%;
    margin: auto;
}
.topo h1, .topo p
{
    margin-left: 20px;
    color: #fff;
}
.formulario
{
    margin: auto;
    height: 100%;
    background-color: #808080;
}

