.menu{
    list-style: none;
    float: right;
    display: flex;
    font-family: sans-serif;
    font-size: 18px;
}
.menu li{
    position: relative;
    margin-right: 20px;
    text-align: center;
    float: right;
}
.menu li a {
    color: #000;
    text-decoration: none;
    padding: 5px 0px;
    display: block;
}
.menu li a:hover{
    background: #808080;
    color: #fff;
}