* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body
{
    height: 100%;
}
.conteudo
{
    display: flex;
    width: 100%;
    border: 1px solid red;
    flex-direction: column;
}
.caixas
{
    display: flex;
    width: 150px;
    height: 150px;
    background-color: blue;
    color: white;
    margin:  5px auto;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 800;
    border: solid black 1px;
}
